<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h3 class="mb-5">Education</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5 class="mb-0">Boston College</h5>
                <div class="subheading mb-3">Master of Science</div>
                <div>Applied Economics</div>
                <p>GPA: 4.00</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2018 - May 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h5 class="mb-0">Merrimack College</h5>
                <div class="subheading mb-3">Bachelor of Arts and Bachelor of Science</div>
                <div>Economics and Finance with a Minor in Mathematics</div>
                <p>GPA: 3.96</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2014 - May 2017</span></div>
        </div>
    </div>
</section>
