<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h3 class="mb-5">Experience</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5 class="mb-0">Assistant Intelligence Chief and Platoon Sergeant</h5>
                <div class="subheading mb-3">United States Marine Corps</div>
                <ul class="fa-ul mb-0">
                  <li>
                      Served a dual role as the Assistant Intelligence Chief and Platoon Sergeant for a Battalions Intelligence Section which is typically
                      held by someone two ranks higher in grade than myself.</li><hr>
                  <li>Responsibilities included the daily management and guidance of 10 Intelligence Specialists in support of the Battalions
                      intelligence requirements, maintaining expert situational awareness of our areas of operation and accounting
                      for over $2.4 million worth of equipment.</li><hr>
                  <li>Notified and advised the commanding officer and battalion staff on operationally critical events which occurred in and
                      around the INDOPACOM region during the first half of fiscal year 2020.</li><hr>
                  <li>Acted as an infantry team leader for 4 years which consisted of mentoring and leading a team of Marines through challenging
                      training environments.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2013 - June 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5 class="mb-0">Teaching Assistant</h5>
                <div class="subheading mb-3">Boston College, Morrissey College of Arts and Sciences</div>
                <ul class="fa-ul mb-0">
                  <li>Provide undergraduates with supplemental instruction and assistance for a Sports Economics course. Duties also included
                     grading subsequent problem sets and examinations.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2019 - May 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h5 class="mb-0">Undergraduate Research Assistant</h5>
                <div class="subheading mb-3">Merrimack College</div>
                <ul class="fa-ul mb-0">
                  <li>Assisted in studying and researching the effects of financial exclusion in impoverished populations and collected information on financial institutions and their products in Lawrence, Massachusetts, to better understand the financial exclusions and inclusions that might exist.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2016 - January 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h5 class="mb-0">AIS Private Equity Fund Administration Intern</h5>
                <div class="subheading mb-3">State Street Global Services</div>
                <ul class="fa-ul mb-0">
                  <li>Identified as “Top Talent” for the State Street internship class of 2016.</li><hr>
                  <li>Responsible for servicing large institutional private equity administrators by providing fund accounting: transaction recording, trial balance generation, allocation calculations, investment and fund level valuations and producing capital statements.</li><hr>
                  <li>Led the training of four new employees in tasks such as daily cash reconciliation and fund level valuations.</li><br>
                </ul>
              </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2016 - August 2016</span></div>
        </div>
    </div>
</section>
