{% extends "base.html" %}

{% block content %}

<!-- About-->
{% include 'about.html' ignore missing %}
<hr class="m-0" />
<!--Projects-->
{% include 'projects.html' ignore missing %}
<hr class="m-0" />
<!--Writings-->
{% include 'writings.html' ignore missing %}
<hr class="m-0" />
<!-- Education-->
{% include 'education.html' ignore missing %}
<hr class="m-0" />
<!-- Experience-->
{% include 'experience.html' ignore missing %}
<hr class="m-0" />
<!-- Skills-->
{% include 'skills.html' ignore missing %}
<hr class="m-0" />
<!-- Awards-->
{% include 'awards.html' ignore missing %}

{% endblock %}
