<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        {% if current_user.is_authenticated %}
        <a class="btn btn-primary float-right" href="{{ url_for('user.logout')}}">Logout</a>
        {% endif %}
        <h3 class="mb-0">Brian VandenAkker</h3>
        <div class="subheading mb-1">Greater Boston Area · MA · (774) 280-6969 · <a href="mailto:brian.m.vandenakker@email.com">brian.m.vandenakker@gmail.com</a></div>
        <hr>
        <br>
        <p class="lead mb-5">Welcome to my page! Since you're here I image you'd like to know a bit about me.
                             I'm currently working as a Data Scientist for a small consulting firm called MetaPhase Consulting
                             out of Washington D.C. Previously I was an Assistant Intelligence Chief for the Marine Corps and before that
                             a graduate student at Boston College working towards a masters degree in applied economics.
                             If you can't tell, I really believe in the usefulness and importance of having a broad set of skills and experiences.
                             I've found that exposing the mind to seemingly unrelated areas of thought enhances creativity and 'out of the box' thinking.
                             More importantly, it paints life's experiences with brighter and clearer strokes.</p>
        <p class="lead mb-5">I'm really interested in generating ways to make data useful. That could include creating novel intelligent systems
                             to make predictions or simulate understanding, building and deploying beautiful visualizations, or applying theoretical knowledge
                             to data in order to test interesting hypothesis. </p>
        <p class="lead mb-5">I also get fired up about various philisophical topics, spirituality and mindfullness, and the exploration
                             of foreign cultures and ways of being. Basically, I think it's so important to understand that our minds are fluid, constantly changing
                             projections of a bombardement of phenomena -- external and internal.</p>
        <p class="lead mb-5">That's a bit about me. If you know of any problems or projects you think I could add value to, please don't hesitate to
                             reach out. As for this site, it's intended to act as a container to hold my recent projects and essays, mostly for my own reference,
                             but since you're here you should check them out!</p>
        <!--<h6><a class="" href="{{url_for('writings.about')}}">More About Me → </a></h6>-->

    </div>
</section>
