<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        {% if current_user.is_authenticated %}
        <a class="btn btn-primary float-right" href="{{ url_for('user.logout')}}">Logout</a>
        {% endif %}
        <h3 class="mb-0">Brian VandenAkker</h3>
        <div class="subheading mb-1">Greater Boston Area · MA · (774) 280-6969 · <a href="mailto:brian.m.vandenakker@email.com">brian.m.vandenakker@gmail.com</a></div>
        <hr>
        <br>
        <p class="lead mb-5">I’m a Marine Corps Veteran, Boston College Alumnus, and aspiring Data Scientist.
                             Recently I've finished my seventh and final year with the Marines. What does that mean? It means I'm unemployed...
                             The original plan was to travel a bit for the summer, but some stuff going on in the world is kind of getting in the way of that. So instead
                             I'm looking for a place to apply my knowledge in data analytics, economics, statistics, mathematics, and computer programming
                             to real world problems as a data scientist or economic consultant. </p>
        <p class="lead mb-5">This site is intended to act as a container to consolidate my recent projects and essays.
                             Right now its main purpose is to showcase my strengths (and surely many weaknesses -- I'm working on them) while I'm searching for new employment. Please reach out if you
                             think I might add some value to whatever it is you're doing!

                             </select></p>
        <h6><a class="" href="{{url_for('writings.about')}}">More About Me → </a></h6>

    </div>
</section>
