<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        {% if current_user.is_authenticated %}
        <a class="btn btn-primary float-right" href="{{ url_for('user.logout')}}">Logout</a>
        {% endif %}
        <h3 class="mb-0">Brian VandenAkker</h3>
        <div class="subheading mb-1">Washington D.C. Metro Area · (774) 280-6969 · <a href="mailto:brian.m.vandenakker@email.com">brian.m.vandenakker@gmail.com</a></div>
        <hr>
        <br>
        <p class="lead mb-5">Brian is currently working as a Junior Data Scientist for a small consulting firm called MetaPhase Consulting
                             out of Washington D.C. Previously he was an Assistant Intelligence Chief and Platoon Sergeant for the Marine Corps and before that
                             a graduate student at Boston College where he earned a masters in Applied Economics.</p>
        <p class="lead mb-5">He's studied a broad range of subjects ranging from mathematics to literature,
                             traveled Asia and Europe, worked for a large multinational bank, and served over seven years in the Marine Corps Reserve. Before
                             this he lived and worked on his families farm where he was taught what it means to be a good man. He's been trying to live up to that ever since.</p>
        <p class="lead mb-5">Recent Interests Include: Web3/Solidity, Full Stack Dev (Node.js, React), Epistemology, and Marathon training.</p>

        <!--<h6><a class="" href="{{url_for('writings.about')}}">More About Me → </a></h6>-->

    </div>
</section>
