<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h3 class="mb-5">Awards & Certifications</h3>
        <ul class="fa-ul mb-0">
            <li>
                Navy and Marine Corps Achievement Medal
            </li>
            <li>
                Financial Executives International Scholarship and Award
            </li>
            <li>
                Association for Financial Counseling & Planning Scholarship and Award
            </li>
            <li>
                Bloomberg Certified: Equities, Fixed Income, Forex, Commodities
            </li>
        </ul>
    </div>
</section>
