<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h3 class="mb-5">Skills</h3>
        <div class="subheading mb-3">Programming Languages</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-python"></i></li>
            <li class="list-inline-item"><i class="fab fa-r-project"></i></li>
            <li class="list-inline-item"><i class="fas fa-database"></i></li>
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        </ul>
        <div class="subheading mb-3">Tools</div>
        <ul class = 'list-inline'>
            <li class="list-inline-item">Spark</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">Plotly/Dash</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">Flask</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">Django</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">Tensorflow</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">Scikit-learn</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">SpaCy</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">NLTK</li>
            <li class="list-inline-item">·</li>
            <li class="list-inline-item">Bootstrap</li>
        </ul>
    </div>
</section>
